<?xml version="1.0"?>
<robot name="asump0_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="camera_model" default="intel_d435i"/>

  <xacro:include filename="base_link.xacro"/>
  <xacro:include filename="lidar.xacro"/>
  <!--xacro:include filename="side_camera.xacro"/-->
  <!--xacro:include filename="ros2_control.xacro"/-->
  <xacro:include filename="imu.xacro"/>
  <xacro:include filename="gazebo_control.xacro"/>
  <xacro:include filename="depth_camera.xacro"/>
  <!--xacro:include filename="d415.xacro"/-->
  <xacro:property name="robot_name" value="asump0"/>

  <xacro:lidar 
    parent_link="base_link" 
    x="0.496510223719" y="0" z="0.596484004557" 
    roll="0" pitch="0" yaw="0"
  />

  <xacro:rlai_depth_camera 
    parent="base_link" 
    xyz="0.648 0 0.24" 
    rpy="0 0 0" 
    model="$(arg camera_model)"
  />

  <!--xacro:simple_d415_camera
    parent="base_link"
    xyz="0.648 0.0 0.24"
    rpy="0 0 0"
    name="depth_camera"/-->

  <!-- Установка камер
  <xacro:left_parking_sensor parent_link="base_link" x="-0.25577" y="0.26863" z="0.46916" roll="0" pitch="-0.087266" yaw="1.5708"/>
  
  <xacro:right_parking_sensor parent_link="base_link" x="-0.25577" y="-0.26863" z="0.46916" roll="0" pitch="-0.087266" yaw="-1.5708"/>
  -->

  <xacro:imu_sensor 
    name="imu"
    parent_link="base_link"
    x="0" y="0" z="0.3"
    roll="0" pitch="0" yaw="0"
    update_rate="100"
  />

  <!--xacro:ros2_control_rollers/-->

</robot>